body {
    background-color: #242424;
    margin:0;
}

p, h1, h2, h3, h4, h5, h6, input, label {
    color: rgb(256, 256, 256);
}

input {
    background-color: rgb(0,0,0, .5);
}

.toolbar {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    
}

.title {
    flex-grow: 1; /* Allow the title to grow and take up available space */
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    display: flex; /* Make the title a flex container */
    justify-content: center; /* Horizontally center the content within the flex container */
    align-items: center;
    color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, .5);
    width: 200px;
    padding:0;
    margin:0;
}

.navlink {
    padding: 16px;
    text-decoration: none;
    color: rgb(176, 176, 249);
    cursor: pointer;
}

.navlink:hover {
    color: white; /* Change the text color to white on hover */
}

.block {
    padding: 16px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

