.pick-container {
    display: flex; /* Make the container a flex container */
    flex-direction: row; /* Arrange children in a row */
    align-items: flex-start; /* Align items to the top of the container */
}

.pick-input {
    width: 45%;
    display: flex; /* Make the input container a flex container */
    flex-direction: column; /* Stack the content vertically */
}

.pick-output {
    width: 45%;
    display: flex; /* Make the output container a flex container */
    flex-direction: column; /* Stack the content vertically */
}

.vertical-bar {
    width: 10%;
}

.clicky {
    width: 75px;
}

#display-area-pickcode {
    color: rgb(255, 255, 255);
}
