<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&amp;display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Courier+Prime&amp;family=Lora:wght@400;700&amp;family=Tinos:wght@400;700&amp;display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>HW Site Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="root">
        <header>
            <div class="toolbar">
                <img src="{{ url_for('static', filename='images/hello-world-logo-small.png') }}" alt="logo" class="logo">
                <div class="title"><p>Hello World Site Editor</p></div>
            </div>
        </header>
        <div class="container">
            <div class="navbar">
                <a href="{{ url_for('practice_problem_generator') }}" class="navlink">Practice Problem Generator</a>
                <a href="{{ url_for('multiple_choice_generator') }}" class="navlink">Multiple Choice Generator</a>
                <a href="{{ url_for('uuid_replacer') }}" class="navlink">UUID Replacer</a>
            </div>
            <div class="block">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>