{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='practice-problem-gen-styles.css') }}">
{% endblock %}
{% block content %}
<div id="pp-section">
    <h1>Practice Problem GIF and Json Creator</h1>
    <hr>
    <div class="two-columns">
        <div class="column">
            <!-- Display area for the selected frame -->
            <div id="frameDisplay" class="bordered-div"></div>
            <p>Use 'Choose File' to select a gif, and 'Selecte Frame' to choose one frame from the gif to add to the png.</p>
            <div class="row">
                <input type="file" id="fileInput" accept="image/gif" onchange="recieveGif(event)">
                <!-- Slider for selecting a frame -->
            </div>
            <div class="row">
                <label for="frameSlider">Select Frame:</label>
                <input type="range" id="frameSlider" min="1" max="20" step="1" value="0"
                    onchange="updateSelectedFrame()">
            </div>
        </div>
        <div class="column">

            <!-- Display area for the selected frames -->
            <div id="cardDisplay" class="bordered-div"></div>
<p>Once the correct frame is displayed on the left, click 'Add Image' to add it to your card. 'Clear Canvas' will erase everything and make you start over.</p>
 
            <div class="row">
                <button id="addButton" onclick="addFrame()">-> Add Image -^</button>
                <span> - </span>
                <button id="clearButton" onclick="clearCard()">Clear Canvas</button>
            </div>
        </div>
        <div class="column">
            <p>You should always add a filename in hyphen case. For example 'twitter-bot' will be converted into 'Twitter Bot Practice Problem #'. You can also select the number of practice problems that should be generated. Each practice problem will be created in its own directory with a project.json file, assets folder with its image. Every practice problem can have a different number of MCQs, which is also set below. Click the output button to generate. The output folder should automatically be opened in your finder.</p>
                       <div class="row">
                <!--add text input for setting file name-->
                <label for="fileNameInput">File Name:</label>
                <input type="text" id="fileNameInput" value="card">

            </div>
            <br>
            <div class="row">
                <!-- add int input for number of images -->
                <label for="numberInput">Number of practice problems:</label>
                <input type="number" id="numberInput" value="1" onchange="setMcqAmount()">
            </div>
            <div class="row">
                <p>Number of MCQs per practice problem:</p>
            </div>
            <div class="row">
                <div id="mcq-count-container"></div>
            </div>
            <div class="row">
                <button id="saveButton" onclick="saveCard()">Output Practice Problems</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='practice-problem-gen-script.js') }}"></script>
{% endblock %}
